.carrito{
    position: fixed;
    right: 0;
    width: 350px;
    height: 100%;
    top: 0;
    padding: 15px;
    border: 1px solid white;
    background-color: rgb(131, 168, 215);
}
.carrito-titulo{
    text-align: center;
    border-bottom: 1px solid white;
}
.item-img{
    height: 60px !important;

}
.card{
    width: 220px;
    height: 440px;
}
img{
    width: auto;
    height: 200px;
}
